
.logo {
    position: right;
}

.toolbar {
    justify-content: space-around;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 970px) {
    .toolbar a:not(:first-child) {display: none}
    .toolbar a.icon {
      float: right;
      display: block;
    }

  }
  