h2 {
    background-color: lightblue;
    padding: 6px;
    box-shadow: black 4px 4px;
}

.imagenDetail {
    border: solid black 1px;
    max-width: 80%;
    margin: 2em;
}

.detailPage {
    background-color: lightcyan;
    box-shadow: black 4px 4px 4px 4px;
    padding-left: 20px;
}

.margen {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 20px;
    text-align: justify;
}

